node_modules
.env
package-lock.json
.next/
.vscode/
/public/output/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
/python-analysis/.venv/
/python-analysis/__pycache__/
env/
venv/
.env
.venv/
pip-log.txt
*.log